body
  margin: 0
  background-color: black
  color: white

.camera
  border: 1px solid white

.info
  border-top: 1px solid white
  
.time
  float: left
  padding: 0 8px
  border-right: 1px solid white
  margin-right: 8px

.cfg
  //text-align: right
  padding: 0 8px
  
.change
  background-color: red
  color: white
  
#alert-disconnect
  background-color: red
  color: white
  border: 2px solid white
  display: none;
  
div.disconnect button.ui-dialog-titlebar-close
  display: none
  