table#cameras
  width: 590px;
  border: 1px solid #006699

div#videos
  width: 590px;
  margin: 16px auto

div#left
  float: left
  padding: 2px;
  border: 1px solid #006699
  margin-left: 15px

input#datepicker
  width: 90px
  
div#list
  margin-top: 4px
  height: 190px   
  overflow: auto 
  
div#video
  float: left
  margin-left: 98px
  border: 1px solid #006699
  
li.selected
  background: #F39814
  color: white

ul
  list-style-type: none
  margin: 0
  padding: 0
  
li
  margin: 0 2px 3px 0
  padding: 0.3em
  background: #006699
  color: white
  height: 14px
  text-align: center
  cursor: pointer

#hour td
  font-size: 110%

#hour div
  text-align: left

#hour table
  margin: 0 auto

#hour a
  padding: 2px
  
a.hsel
  background-color: white
  color: black

