.camera
  border: 1px solid white
  
.image
  //border: 1px solid blue

.info
  border-top: 1px solid white
  
.change
  color: white
  background-color: red
  
#testButton
  position: absolute
  top: 700px
