body
  padding: 0
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: black
  color: #fff

a
  color: #00B7FF
  text-decoration: none
  font-weight: bold

#header
  text-align: center
  margin: 2px 0 5px 0

#header h1
  font-size: 40px
  text-align: center

#content
  margin: 0
  text-align: center

#content h1
  margin: 0 0 7px 0
  text-align: center

#bottom

#footer
  text-align: center
  margin-top: 20px

#footer img
  margin: 0 10px

table#cameras
  margin: 0 auto
  
table#cameras tr.head
  background-color: #069

table#cameras tr.odd
  background-color: #444

table#cameras tr.even
  background-color: #666
  
table#cameras th
  padding: 4px;

table#cameras td
  padding: 4px;

.black
  background-color: black
  width: 8px
  
img.thumb
  border: 1px solid white
