doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/mobile.css', media='only screen and (max-width: 600px)')
    link(rel='stylesheet', href='/stylesheets/desktop.css', media='screen and (min-width: 601px)')
    block stylesheets
    block javascripts
  body
    #container
      block top
        #top
          #header
            a(href='/')
              img(src='/images/nodeminderjs.png', width=205, height=80, alt='NodeMinder.js')
      #content
        block content
      #alert
        block alert
          #alert-disconnect(title='Alert')
            p Disconnected from the server!
    
