doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/grid.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/grid.js')
  body
    #grid
      .linha
        #cam01.camera
          .image
            img#img01(src='#', width=320, height=240) 
          .info

        #cam02.camera
          .image
            img#img02(src='#', width=320, height=240)
          .info

        #cam03.camera
          .image
            img#img03(src='#', width=320, height=240) 
          .info

        #cam04.camera
          .image
            img#img04(src='#', width=320, height=240) 
          .info

        #cam05.camera
          .image
            img#img05(src='#', width=320, height=240) 
          .info

