extends base

block stylesheets
  link(rel='stylesheet', href='/stylesheets/jquery-ui.css')

block javascripts
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/jquery-ui.custom.min.js')
  script(src='/socket.io/socket.io.js')
  script
    var cameras = [
      #{array}
    ];
  script(src='/javascripts/grid.js')
  script(src='/javascripts/view.js')

block top

block content
  each val, key in cameras
    div.camera.draggable(id='cam' + key)
      .image
        img.resizable(src='#', width=320, height=240) 
      .info
        .time
        .cfg
  