doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container
      #top
        #header
          h1 NodeMinder.js
      #content
        block content
      #bottom
        #footer
          a(href='https://github.com/nodeminderjs/NodeMinder.js')
            img(src='/images/github.jpg',  width=80, height=80, alt='NodeMinder.js on Github')
          a(href='http://nodeminderjs.blogspot.com.br/')
            img(src='/images/blogger.jpg', width=80, height=80, alt='NodeMinder.js on Blogger')
