doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container
      #top
        #header
          a(href='/')
            img(src='/images/nodeminderjs.png', width=205, height=80, alt='NodeMinder.js')
      #content
        block content
      #bottom
        #footer
          a(href='https://github.com/nodeminderjs/NodeMinder.js')
            img(src='/images/github.png',  width=33, height=33, alt='NodeMinder.js on Github')
          a(href='http://nodeminderjs.blogspot.com.br/')
            img(src='/images/blogger.png', width=32, height=33, alt='NodeMinder.js on Blogger')
